.header{
    border: 1px solid rgb(235, 237, 240);
}
nz-page-header-subtitle{
    color: #E21B70;
    font-size: 16px;
}
.bg-pink{
    background-color:#E21B70;
    color: white;
    border: none;
    padding: 5%;
    border-radius: 5%;
  }